fint:
    org-id: novari.no
novari:
    flyt:
        file-service-url: http://localhost:8091
        web-instance-gateway:
            check-integration-exists: false
    kafka:
        default-replicas: 1
        topic:
            org-id: novari-no
spring:
    kafka:
        bootstrap-servers: localhost:9092
server:
    port: 8109
