apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nfk-no

resources:
    - ../../../base

labels:
    -   pairs:
            app.kubernetes.io/instance: fint-flyt-side-gateway_nfk_no
            nfk.no/org-id: nfk.no

patches:
    -   patch: |-
            -   op: replace
                path: "/spec/kafka/acls/0/topic"
                value: "nfk-no.flyt.*"
            -   op: replace
                path: "/spec/orgId"
                value: "nfk.no"
            -   op: replace
                path: "/spec/ingress/basePath"
                value: "/beta/nfk-no/api/side/instances"
            -   op: replace
                path: "/spec/probes/startup/path"
                value: "/beta/nfk-no/actuator/health"
            -   op: replace
                path: "/spec/probes/readiness/path"
                value: "/beta/nfk-no/actuator/health/readiness"
            -   op: replace
                path: "/spec/probes/liveness/path"
                value: "/beta/nfk-no/actuator/health/liveness"
            -   op: add
                path: "/spec/env/-"
                value:
                    name: novari.kafka.topic.org-id
                    value: "nfk-no"
            -   op: add
                path: "/spec/env/-"
                value:
                    name: server.servlet.context-path
                    value: "/beta/nfk-no"
            -   op: add
                path: "/spec/env/-"
                value:
                    name: novari.flyt.side.dispatch.enabled
                    value: "false"
        target:
            kind: Application
            name: fint-flyt-side-gateway
